torchvision == 0.5.0
torch == 1.7.1
requests == 2.22.0
sklearn
pandas == 0.23.4
numpy == 1.19.5
pillow == 6.2.2
pip == 20.0.0
html-testRunner
PySimpleGui
xmlrunner
pysqlite3
coverage
nose2
openpyxl
